BREVO_API_KEY=
BREVO_SENDER=
BREVO_SENDER_NAME=
DATABASE_URL=
GEMINI_API_KEY=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
OLLAMA_HOST=
REPLY_TO_EMAIL=
SECRET_KEY=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
SUPABASE_SERVICE_ROLE_KEY=
TESSDATA_DIR=